Options -Multiviews

RewriteEngine On
RewriteBase /

# Specify search friendly URLs
RewriteRule ^Home$ /web-framework/index.php [L]
RewriteRule ^Projects$ /web-framework/index.php?page=Projects [L]
RewriteRule ^Github$ /web-framework/index.php?page=Github [L]
RewriteRule ^Experiments$ /web-framework/index.php?page=Experiments [L]
RewriteRule ^Resume$ /web-framework/index.php?page=Resume [L]
