Options -Multiviews

RewriteEngine On
RewriteBase /

# Specify search friendly URLs
RewriteRule ^Home$ /index.php [L]
RewriteRule ^Projects$ /index.php?page=Projects [L]
RewriteRule ^Github$ /index.php?page=Github [L]
RewriteRule ^Experiments$ /index.php?page=Experiments [L]
RewriteRule ^Resume$ /index.php?page=Resume [L]
